﻿@{
    ViewData["Title"] = "Home Page";
}

    <div class="table">

        <table class="col-12 mr-auto">
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Dinero</th>
            </tr>
            @foreach (var item in Model)
            {
        <tr>
            <td>@item.Nombre</td>
            <td>@item.Apellido</td>
            <td>@item.Dinero</td>
        </tr>
            }
        </table>
        <a href="/home/register" class="btn-primary">Registrar</a>
    </div>
