﻿
@{
    ViewData["Title"] = "register";
}

<h3>Registrar</h3>

<form method="post" action="/home/register">

    
    <input type="text" name="Nombre" placeholder="Nombre" />
    <input type="text" name="Apellido" placeholder="Apellido" />
    <input type="text" name="Dinero" placeholder="Dinero"/>
    <select>
        <option value="">usd</option>
        <option value="">eur</option>
    </select>

    <button>Enviar</button>
</form>

